<div class="card">
    <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
            <a href="{{ postModel.urlImagen }}" data-effect="mfp-zoom-out">

                <!-- <a class="image-popup-vertical-fit" [routerLink]="['/detallepost', postModel.id]"> -->
                <img src="{{ postModel.urlImagen }}" alt="Card image cap">
            </a>
        </div>
        <div class="card-body ">
            <ul class="list-inline font-14 ">
                <li class="p-l-0 ">{{ postModel.fecha | date }}</li>
                <li><a href="javascript:void(0) " class="link ">{{ postModel.comentarios.length }} Comentarios</a></li>
            </ul>
            <h3 class="font-normal ">{{ postModel.titulo }}</h3>
            <p class="m-b-0 m-t-10 ">{{ postModel.contenido }}</p>
            <button class="btn btn-outline-warning waves-effect waves-light m-t-20 " [routerLink]="[ '/detallepost', postModel.id] ">Ver Detalle</button>
        </div>
    </div>
</div>