<!-- Card -->
<div class="card">
    <div class="el-card-avatar el-overlay-1 d-flex justify-content-center">
        <img class="" [src]="postModel.urlImagen | validateUrl" alt="Card image cap" style=" max-height:400px; object-fit:cover;">
    </div>
    <div class="card-body col-12 col-lg-8 d-flex justify-content-center flex-column" style="margin:auto">
        <h4 class=" card-title mt-3">Comentarios</h4>
        <div class="chat-box ">
            <!--chat Row -->
            <ul class="chat-list ">
                <!--chat Row -->
                <app-message *ngFor="let item of comentarios" [comentario]="item"></app-message>
                <!--chat Row -->
            </ul>
        </div>
    </div>
    <div class="card-body b-t col-12 col-lg-9 mt-3" style="margin:auto;">
        <form class="" id="commentForm" [formGroup]="form" (ngSubmit)="sendMessage()">
            <div class="row">
                <div class="col-10">
                    <textarea placeholder="Escriba su comentario." class="form-control b-0" formControlName="comentario"></textarea>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-info btn-circle waves-effect waves-light btn-lg"><i class="fa fa-paper-plane-o"></i> </button>
                    <button class="btn btn-outline-danger btn-circle btn-lg waves-effect waves-light ml-2" [routerLink]="['/home'] "><i class="fas fa-undo-alt"></i></button>
                </div>
            </div>
            <small *ngIf="comentario" class="text-danger">
                Ingrese un valor válido. Máximo 250 caractéres.
            </small>
        </form>
    </div>
</div>